
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    
}

body{
    font-family:'Roboto Mono', monospace;
    background-color:tan;
    font-size: 20px;
    color: #333
    
}
.imageOne{
    display: block;
    margin-left:13rem;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-bottom: 3rem;
  
}

a,
a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover{
    opacity: 0.6;
}

.bold{
    font-weight: bold;
}
.center{
    text-align: center;
    padding: 1rem;
}

.dark{
    background: #333;
    color: #fff;
}

.inline,.inline_icons{
    display: inline;
    padding: 1rem;
  
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 2px 0 5px #333;
} 

h1{
    font-size: 2rem;
}

h2{
    padding: 0.8rem;
}


.nav_list {
    text-align: right;
    padding: 1rem;
    border-radius: 25px;
}


.tech{
    padding-top: 2rem;
}

.primary__btn, .secondary__btn{
    color:#fff;
    font-size: 0.8rem;
    font-weight: bolder;
    border: 2px solid #333;
    border-radius: 10px;
    width: 15%;
    padding: 0.3rem;
    margin-left: 30rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    background: #333;
    box-shadow: 4px 2px 10px #333;
   

}


.flex-start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    text-align: center;
    margin: 3rem auto;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 4px 5px 8px #000;

}

.primary__inline{
    display: inline;
    padding: 1rem;
}

.procode__btn{
    color:#fff;
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 0.3rem;
    border-radius: 10px;
    width: 15%;
    background: #333;
    box-shadow: 4px 2px 10px #333;
    
}

.procode{
    margin-left: 28rem;
    margin-top: 3rem;
    margin-bottom: 1rem; 
}
